{% extends 'app1/base.html' %}
{% block content %}
<style>
  table,td,th{
    border: 1px solid black
  }
  th,td{
    padding: 10px;
  }
</style>
<table cellpadding = 20 cellspacing = 20>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Oxygen_Cylinder(Qn)</th>
        <th>Beds</th>
        <th>MRI_Machine</th>
      </tr>

        <tr>
            <td>{{ items.Name }}</td>
            <td>{{ items.Address }}</td>
            <td>{{ items.Oxygen_Cylinder }}</td>
            <td>{{ items.Beds }}</td>
            <td>{{ items.MRI_Machine }}</td>
        </tr>

</table>
{% endblock %}